aws_region          = "us-east-1"
project_name        = "demo"
vpc_cidr            = "10.0.0.0/16"
az_count            = 2
kubernetes_version  = "1.30"
node_instance_type  = "t3.small"
node_desired_size   = 2
node_min_size        = 1
node_max_size        = 3
db_instance_class   = "db.t3.micro"
db_engine_version   = "17.4"
demo_app_image      = "nginxdemos/hello"
demo_app_replicas   = 2
domain_name         = "example.com"
